#form-absolute{
    bottom: 40%;
    left:25%;

    button{
        border: none;
        outline: none;
        &.btn_choose_type{
            background: #88ad6abd;
            padding:14px 18px;
            color:#fff;
            margin-right: -3px;
            margin-bottom: 2px;
            transition: all 0.4s;
            &:hover,&.clicked{
                background: orangered;
            }
        }
        &.btn_search{
            height: 46px !important;
            padding:0px 15px;  
            font-size: 18px;
            background: #88ad6a;
            color: #fff;
        }
    }
    input{
        width: 500px;
        outline: none;
        height: 46px !important;
        border-radius: 0px;
        background: #fff;
        box-shadow: none;
        font-size: 15px;
    }
}

.main-title{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    width: fit-content;
    background: $primary-color;
    padding: 9px;
    position: relative;

    &::after{
        content:'';
        position: absolute;
        bottom: 0px;
        height: 2px;
        background: $primary-color;
        width: 100%;
    }
}
.text-overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item-project{
    a{
        text-decoration: none;
    }
    transition: all 0.5s;
    margin-bottom: 25px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; 
    &:hover{
        box-shadow: 0 2px 10px 0 rgba(0,0,0,.3);
    }
    .project-info{
        position: relative;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        img{
            border-top-left-radius: 4px;
            border-top-right-radius: 4px; 
        }
        .status{
            position: absolute;
            bottom: 0px;
            left: 0px;
            padding: 5px;
            text-align: center;
            background: $primary-color+bd;
            width: 100%;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
        }
    }
    .project-content{
        border: 1px solid #dcdcdc;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px; 
        padding: 10px;

        .extends{
            .big-price{
                color: #4CA6AC;
                font-size: 18px;
                font-weight: bold;
                float: left;
            }
            li{
                display: inline-flex;
                margin-right: 10px;
                float: right;
            }
        }
        .title{
            margin: 5px 0px;
            font-size: 17px;
            font-weight: bold;
        }
        .address{
            margin: 2px 0px;
            color: #838383;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .price{
            margin: 2px 0px;
            font-weight: bold;
        }
    }
}

.item-chudautu{
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
    border: solid 1px rgba(151,151,151,.25);
    background: #fff;
    padding: 15px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 10px 0px;
    &:hover{
        box-shadow: 0 2px 10px 0 rgba(0,0,0,.3);
    }
}

.item-news-big{
    &:hover{
        img{
            opacity: 0.85;
        }
    }
    .news-body{
        position: relative;
        color: #fff;
        .news-content{
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            padding: 10px;
            background: linear-gradient(180deg,transparent,rgba(0,0,0,.9));
            .title{
                font-size: 18px;
            }
        }
    }
}

.item-news-small{
    margin-bottom: 15px;
    &:hover{
        img{
            opacity: 0.85;
        }
    }
    a{
        text-decoration: none;
    }
    .news-img{
        img{
            width: 145px;
        }
    }
    .news-title{
        padding-left:10px;
        .title{
            margin:0px;
            font-weight: bold;
            color: #30333a;
            font-size: 15px;
        }
        .datetime{
            color: rgba(131,131,131,.86);
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

.item-khudancu{
    margin-bottom: 15px;
    position: relative;
    color: #fff;
    &:hover{
        opacity: 0.95;
    }
    .content{
        position: absolute;
        width: 100%;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 30px;
        text-align: center;
        background: linear-gradient(to bottom,rgba(0,0,0,.4),rgba(0,0,0,.7));
        .title{
            margin: 0px;
            font-size: 18px;
        }
    }
}

.item-blog{
    border: 1px solid #dcdcdc;

    .title-blog{
        display: inline-flex;
        background: #F7F7F7;
        width: 100%;
        padding:5px;
        span{
            padding:5px;
            color: white;
            background: #949A9E;
        }
        h3{
            color: #337CA5;
            text-transform: uppercase;
            margin: 5px 0px 0px 15px;
            font-size: 16px;
            font-weight: bold;
        }
    }
    .blog-content{
        padding:10px;
        a{
            text-decoration: none;
        }
        .blog-larger{
            &:hover{
                img{
                    opacity: 0.85;
                }
            }
            .title{
                margin: 5px 0px;
                font-size: 16px;
                font-weight: bold;
                color: #337CA5;
            }
        }
        .blog-small{
            &:hover{
                img{
                    opacity: 0.85;
                }
            }
            margin-bottom: 5px;
            img{
                width: 100px;
                height: 65px;
            }
            .title{
                margin: 0px 0px 0px 10px;
                font-size: 14px;
                font-weight: bold;
                color: #337CA5;
            }
        }
    }
}

.item-khuvuc{
    position: relative;
    margin-bottom: 15px;
    border-radius: 8px;
    img{
        border-radius: 8px;
        height: 150px;
    }
    a{
        text-decoration: none;
    }
    .content{
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
        padding: 10px;
        border-radius: 8px;
        background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.9));

        .title{
            font-size: 22px;
            color: #fff;
        }
    }
}