.product-detailt{
    .item-slider{
        height: 350px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    #small-thumb{
        padding: 10px 0px;
        background: #222222;
        .item-slider{
            width: 180px;
            height: 70px;
            margin-right: 10px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .sec-head{
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        background: #fff;
        box-shadow: 0 3px 3px #f2f2f2;
        padding: 0;
    }
}

#mycollapse{
    .item-collapse{
        width: 100%;
        margin-bottom: 10px;

        .head-collapse{
            cursor: pointer;
            padding: 8px 0px;
            position: relative;
            p{
                font-size: 18px;
                font-weight: bold;
            }
            border-bottom: 1px solid #dcdcdd;
            &::after{
                content: '\f107';
                position: absolute;
                right: 5px;
                bottom: 10%;
                font-weight: bold;
                font-size: 18px;
                transition: all 0.5s;
                font-family: 'FontAwesome';
            }
            &.opened{
                &::after{
                    transform: rotate(180deg);
                }
                .content-collapse{
                    display: block;
                }
            }
        }
        .content-collapse{
            padding: 10px 0px;
            display: none;
        }
    }
}

.boxed{
    box-shadow: 0 3px 16px rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 20px;
}
#form-contact{
    .form-control{
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
        outline: none;
        margin-bottom: 8px;
    }
    input{
        height: 35px;
    }
    button{
        border-radius: 0px;
        background: $primary-color;
    }
}
#frm-top-search{
    display: flex;
    .form-control,.btn{
        border-radius: 0px;
        outline: none;
        box-shadow: none;
        height: 40px;
        border-color: #dcdcdd !important;
    }
    select{
        width: fit-content;
        border-right: 0px;
    }
    input{
        border-left:0px;
        width:100%;
    }
    button{
        border-right: 0px;
        background:#fff;
    }
}

.detail-more-top{
    padding-bottom: 15px;
    border-bottom: 1px solid #dcdcdd;
    li{
        display:inline-flex;
        width:24%;
        p{
            &.right{
                font-weight: bold;
                float: right;
                width: 48%;
            }
            &.left{
                float: left;
                width: 48%;
            }
        }
    }
}
.list_option{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 5px 0px;
    li{
        position: relative;
        display: inline-flex;
        padding: 10px 15px;
        cursor: pointer;
        &:first-child{
            padding-left: 0px;
        }
        &::after{
            content: '\f107';
            font-family: 'FontAwesome';
            margin-left: 5px;
        }
        &:last-child{
            input{
                outline: none;
                box-shadow: none;
                border: 1px solid #cccccc;
                padding: 5px 8px;
                position: relative;
            }
            button.search-item{
                background: none;
                outline: none;
                border: 1px solid #cccccc;
                border-left: 0px;
                padding: 0px 8px;
            }
            &::after{
                content: '';
            }
        }
        .list-modal{
            position: absolute;
            left: 0px;
            top: 98%;
            width: fit-content;
            padding: 10px;
            background: #fff;
            z-index: 99999;
            display: none;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
            li{
                padding: 5px 15px 5px 0px;
                &::after{
                    content: '';
                }
                button{
                    border-radius: 0px;
                    margin-right: 10px;
                    padding: 4px 14px;
                    font-size: 15px !important;
                    height: 35px;
                }
            }
        }
    }
}

.duan-item-h{
    display: inline-flex;
    margin: 5px 0px;
    width: 100%;
    border-bottom: 1px solid #dcdcdd;
    .left{
        width: 28%;
    }
    .right{
        width: 70%;
        padding: 0px 8px;
        .title{
            margin: 4px 0px;
            font-weight: bold;
            width: calc(100%-10px);
            font-size: 17px !important;
        }
        .price{
            font-size: 20px;
            font-weight: bold;
            color: $primary-color;
        }
    }
    .extends{
        li{
           padding: 0px 8px;
           display: inline-flex;
           .fa{
               margin-bottom: -10px;
           }
           &:last-child{
               float: right;
               padding: 5px 10px;
               border: 1px solid $primary-color;
               margin-top: -5px;
               background: #65BA69;
               border-radius: 2px;
               color: #fff;
               z-index: 99999;
           }
        }
    }
}