.overview-toolbar{
    padding: 2px 0px;
    border-bottom: 2px solid black;
    &.sticky{
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
        background: #fff;
        z-index: 999;
        animation: fade-down 0.3s;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .btn{
        border: 1px solid black;
        padding: 10px 12px;
        border-radius: 0px;
        margin-top: 4px;
        font-weight: bold;
        transition: all 0.4s;
        &:hover{
            color: #fff;
            background: rgba(0,0,0,0.75);
        }
        &.red{
            color: #fff;
            background: $primary-color;
        }
    }
    ul{
        li{
            display: inline-flex;
            padding: 15px;
            a{
                text-decoration: none;
                font-weight: bold;
            }
            &:hover{
                a{
                    color: red;
                }
            }
        }
    }
}
.page-khudancu-detail{
    .banner{
        height: 400px;
        width: 100%;
        position: relative;
        background-size: cover;

        .abs-content{
            position: absolute;
            border-top: 4px solid #fff;
            bottom: 0px;
            left: 0px;
            right: 0px;
            padding: 35px;
            text-align: center;
            color: #fff;
            background: rgba(0,0,0,0.75);
            margin: auto;
            background-repeat: no-repeat;
        }
    }
    .house-selling{
        background: #F4F5F9;
    }
    .div-location{
        background: #F4F5F9;
        .map-area{
            padding: 15px;
            background: #fff;
        }
    }
}

.item-khudancu-ll{
    color: #000000;
    background: #fff;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.05);
    transition: box-shadow .3s ease-out,transform .3s ease-out,opacity .2s ease-out,background .2s ease-out;
    transition-delay: .1s;
    transform: translateZ(0);
    margin-bottom: 25px;
    a{text-decoration: none;}
    &:hover{
        opacity: 1!important;
        box-shadow: rgba(45,45,45,.05) 0 0 0, rgba(49,49,49,.05) 0 1px 1px, rgba(42,42,42,.05) 0 2px 2px, rgba(32,32,32,.05) 0 4px 4px, rgba(49,49,49,.05) 0 8px 8px, rgba(35,35,35,.1) 0 16px 16px;
        transform: translate(0,-2px);
    }
    .content{
        color: #000;
        padding: 10px;
    }
}