* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #000;
}

a:hover {
  color: #000;
}

a:active {
  color: #000;
}

.font18_all * {
  font-size: 18px !important;
}

.font18 {
  font-size: 18px !important;
}

.font20 {
  font-size: 20px !important;
}

.font17 {
  font-size: 17px !important;
}

.font16 {
  font-size: 16px !important;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.clear {
  clear: both;
}

.pd0 {
  padding: 0px;
}

.pd05 {
  padding: 05px;
}

.pd10 {
  padding: 10px;
}

.pd15 {
  padding: 15px;
}

.main-menu li {
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

.main-menu li a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main-menu li:hover {
  background: #88AD6A;
}

.main-menu li:hover a {
  color: #fff;
}

.main-menu li:hover::after {
  color: #fff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-menu li.dropdown::after {
  content: '\f107';
  position: relative;
  margin-left: 8px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'FontAwesome';
}

.main-menu li.dropdown .dropdown-list {
  display: none;
  position: absolute;
  left: 0px;
  top: 100%;
  min-width: 200%;
  width: 280%;
  background: #fff;
  z-index: 999;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.main-menu li.dropdown .dropdown-list li {
  display: block;
}

.main-menu li.dropdown .dropdown-list li a {
  color: #000000;
}

.main-menu li.dropdown .dropdown-list li:hover a {
  color: #fff;
}

.main-menu li.dropdown:hover .dropdown-list {
  display: block;
}

.app-header {
  padding: 5px 0px;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
}

.app-header.sticky {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #fff;
  z-index: 999;
  -webkit-animation: fade-down 0.3s;
          animation: fade-down 0.3s;
  border-bottom: none;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.app-header .logo img {
  width: 100%;
}

.app-header .btnBar {
  padding: 10px 12px;
  color: #88AD6A;
  border: 1px solid #88AD6A;
  margin-top: 5px;
  border-radius: 2px;
}

@-webkit-keyframes fade-down {
  from {
    top: -100px;
  }
}

@keyframes fade-down {
  from {
    top: -100px;
  }
}

.app-footer {
  color: white;
  padding: 15px 0px;
  background: #88AD6A;
}

.app-footer .title-footer {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.app-footer ul.list-footer {
  padding-top: 5px;
}

.app-footer ul.list-footer li {
  padding: 5px 0px;
}

.app-footer ul.list-footer li a {
  font-size: 13px;
  color: #F3F4F7;
}

.slick-slider .btn_arrow {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  background: #88AD6A;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
}

.slick-slider .btn_arrow.btn_prev {
  bottom: 45%;
  left: 25px;
  z-index: 99;
}

.slick-slider .btn_arrow.btn_next {
  bottom: 45%;
  right: 25px;
  z-index: 99;
}

#backtotop {
  position: fixed;
  bottom: 20%;
  right: 2%;
  width: 40px;
  height: 40px;
  z-index: 999;
  display: none;
  text-align: center;
  padding-top: 2px;
  cursor: pointer;
  background: #88AD6A;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-animation: fadeup 0.4s;
          animation: fadeup 0.4s;
}

#backtotop::after {
  content: '\f106';
  font-family: 'FontAwesome';
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

#backtotop:hover {
  background: orangered;
}

@-webkit-keyframes fadeup {
  from {
    bottom: -100px;
  }
}

@keyframes fadeup {
  from {
    bottom: -100px;
  }
}

#form-absolute {
  bottom: 40%;
  left: 25%;
}

#form-absolute button {
  border: none;
  outline: none;
}

#form-absolute button.btn_choose_type {
  background: #88ad6abd;
  padding: 14px 18px;
  color: #fff;
  margin-right: -3px;
  margin-bottom: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#form-absolute button.btn_choose_type:hover, #form-absolute button.btn_choose_type.clicked {
  background: orangered;
}

#form-absolute button.btn_search {
  height: 46px !important;
  padding: 0px 15px;
  font-size: 18px;
  background: #88ad6a;
  color: #fff;
  border-radius: 4px;
  margin-left: 2px;
}

#form-absolute input {
  width: 500px;
  outline: none;
  height: 46px !important;
  border-radius: 0px;
  background: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 15px;
  border-radius: 4px;
}

.main-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #88AD6A;
  padding: 9px;
  position: relative;
}

.main-title::after {
  content: '';
  position: absolute;
  bottom: 0px;
  height: 2px;
  background: #88AD6A;
  width: 100%;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-project {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-bottom: 25px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.item-project a {
  text-decoration: none;
}

.item-project:hover {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.item-project .project-info {
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.item-project .project-info img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.item-project .project-info .status {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 5px;
  text-align: center;
  background: #88AD6Abd;
  width: 100%;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.item-project .project-content {
  border: 1px solid #dcdcdc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px;
}

.item-project .project-content .extends .big-price {
  color: #4CA6AC;
  font-size: 18px;
  font-weight: bold;
  float: left;
}

.item-project .project-content .extends li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 10px;
  float: right;
}

.item-project .project-content .title {
  margin: 5px 0px;
  font-size: 17px;
  font-weight: bold;
}

.item-project .project-content .address {
  margin: 2px 0px;
  color: #838383;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-project .project-content .price {
  margin: 2px 0px;
  font-weight: bold;
}

.item-chudautu {
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(151, 151, 151, 0.25);
  background: #fff;
  padding: 15px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  margin: 10px 0px;
}

.item-chudautu:hover {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.item-news-big:hover img {
  opacity: 0.85;
}

.item-news-big .news-body {
  position: relative;
  color: #fff;
}

.item-news-big .news-body .news-content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.9));
}

.item-news-big .news-body .news-content .title {
  font-size: 18px;
}

.item-news-small {
  margin-bottom: 15px;
}

.item-news-small:hover img {
  opacity: 0.85;
}

.item-news-small a {
  text-decoration: none;
}

.item-news-small .news-img img {
  width: 145px;
}

.item-news-small .news-title {
  padding-left: 10px;
}

.item-news-small .news-title .title {
  margin: 0px;
  font-weight: bold;
  color: #30333a;
  font-size: 15px;
}

.item-news-small .news-title .datetime {
  color: rgba(131, 131, 131, 0.86);
  font-size: 12px;
  margin-top: 10px;
}

.item-khudancu {
  margin-bottom: 15px;
  position: relative;
  color: #fff;
}

.item-khudancu:hover {
  opacity: 0.95;
}

.item-khudancu .content {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 30px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
}

.item-khudancu .content .title {
  margin: 0px;
  font-size: 18px;
}

.item-blog {
  border: 1px solid #dcdcdc;
  border-radius: 4px;
}

.item-blog .title-blog {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #F7F7F7;
  width: 100%;
  padding: 5px;
}

.item-blog .title-blog span {
  padding: 5px;
  color: white;
  background: #949A9E;
}

.item-blog .title-blog h3 {
  color: #337CA5;
  text-transform: uppercase;
  margin: 5px 0px 0px 15px;
  font-size: 16px;
  font-weight: bold;
}

.item-blog .blog-content {
  padding: 10px;
}

.item-blog .blog-content a {
  text-decoration: none;
}

.item-blog .blog-content .blog-larger:hover img {
  opacity: 0.85;
}

.item-blog .blog-content .blog-larger .title {
  margin: 5px 0px;
  font-size: 16px;
  font-weight: bold;
  color: #337CA5;
}

.item-blog .blog-content .blog-small {
  margin-bottom: 5px;
}

.item-blog .blog-content .blog-small:hover img {
  opacity: 0.85;
}

.item-blog .blog-content .blog-small img {
  width: 100px;
  height: 65px;
}

.item-blog .blog-content .blog-small .title {
  margin: 0px 0px 0px 10px;
  font-size: 14px;
  font-weight: bold;
  color: #337CA5;
}

.item-khuvuc {
  position: relative;
  margin-bottom: 15px;
  border-radius: 8px;
}

.item-khuvuc img {
  border-radius: 8px;
  height: 150px;
}

.item-khuvuc a {
  text-decoration: none;
}

.item-khuvuc .content {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding: 10px;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.9));
}

.item-khuvuc .content .title {
  font-size: 22px;
  color: #fff;
}

.page-khudancu-detail .banner {
  height: 400px;
  width: 100%;
  position: relative;
  background-size: cover;
}

.page-khudancu-detail .banner .abs-content {
  position: absolute;
  border-top: 4px solid #fff;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 35px;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  margin: auto;
  background-repeat: no-repeat;
}

.page-khudancu-detail .overview-toolbar {
  padding: 2px 0px;
  border-bottom: 2px solid black;
}

.page-khudancu-detail .overview-toolbar.sticky {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #fff;
  z-index: 999;
  -webkit-animation: fade-down 0.3s;
          animation: fade-down 0.3s;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.page-khudancu-detail .overview-toolbar .btn {
  border: 1px solid black;
  padding: 10px 12px;
  border-radius: 0px;
  margin-top: 4px;
  font-weight: bold;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.page-khudancu-detail .overview-toolbar .btn:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
}

.page-khudancu-detail .overview-toolbar .btn.red {
  color: #fff;
  background: #88AD6A;
}

.page-khudancu-detail .overview-toolbar ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px;
}

.page-khudancu-detail .overview-toolbar ul li a {
  text-decoration: none;
  font-weight: bold;
}

.page-khudancu-detail .overview-toolbar ul li:hover a {
  color: red;
}

.page-khudancu-detail .house-selling {
  background: #F4F5F9;
}

.page-khudancu-detail .div-location {
  background: #F4F5F9;
}

.page-khudancu-detail .div-location .map-area {
  padding: 15px;
  background: #fff;
}

.item-khudancu-ll {
  color: #000000;
  background: #fff;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: opacity .2s ease-out,background .2s ease-out,-webkit-box-shadow .3s ease-out,-webkit-transform .3s ease-out;
  transition: opacity .2s ease-out,background .2s ease-out,-webkit-box-shadow .3s ease-out,-webkit-transform .3s ease-out;
  transition: box-shadow .3s ease-out,transform .3s ease-out,opacity .2s ease-out,background .2s ease-out;
  transition: box-shadow .3s ease-out,transform .3s ease-out,opacity .2s ease-out,background .2s ease-out,-webkit-box-shadow .3s ease-out,-webkit-transform .3s ease-out;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  margin-bottom: 25px;
}

.item-khudancu-ll a {
  text-decoration: none;
}

.item-khudancu-ll:hover {
  opacity: 1 !important;
  -webkit-box-shadow: rgba(45, 45, 45, 0.05) 0 0 0, rgba(49, 49, 49, 0.05) 0 1px 1px, rgba(42, 42, 42, 0.05) 0 2px 2px, rgba(32, 32, 32, 0.05) 0 4px 4px, rgba(49, 49, 49, 0.05) 0 8px 8px, rgba(35, 35, 35, 0.1) 0 16px 16px;
          box-shadow: rgba(45, 45, 45, 0.05) 0 0 0, rgba(49, 49, 49, 0.05) 0 1px 1px, rgba(42, 42, 42, 0.05) 0 2px 2px, rgba(32, 32, 32, 0.05) 0 4px 4px, rgba(49, 49, 49, 0.05) 0 8px 8px, rgba(35, 35, 35, 0.1) 0 16px 16px;
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
}

.item-khudancu-ll .content {
  color: #000;
  padding: 10px;
}

.product-detailt .item-slider {
  height: 350px;
}

.product-detailt .item-slider img {
  width: 100%;
  height: 100%;
}

.product-detailt #small-thumb {
  padding: 10px 0px;
  background: #222222;
}

.product-detailt #small-thumb .item-slider {
  width: 180px;
  height: 70px;
  margin-right: 10px;
}

.product-detailt #small-thumb .item-slider img {
  width: 100%;
  height: 100%;
}

.product-detailt .sec-head {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  background: #fff;
  -webkit-box-shadow: 0 3px 3px #f2f2f2;
          box-shadow: 0 3px 3px #f2f2f2;
  padding: 0;
}

#mycollapse .item-collapse {
  width: 100%;
  margin-bottom: 10px;
}

#mycollapse .item-collapse .head-collapse {
  cursor: pointer;
  padding: 8px 0px;
  position: relative;
  border-bottom: 1px solid #dcdcdd;
}

#mycollapse .item-collapse .head-collapse p {
  font-size: 18px;
  font-weight: bold;
}

#mycollapse .item-collapse .head-collapse::after {
  content: '\f107';
  position: absolute;
  right: 5px;
  bottom: 10%;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'FontAwesome';
}

#mycollapse .item-collapse .head-collapse.opened::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#mycollapse .item-collapse .content-collapse {
  padding: 10px 0px;
  display: none;
}

.boxed {
  -webkit-box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 30px;
  margin-bottom: 20px;
}

#form-contact .form-control {
  width: 100%;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  margin-bottom: 8px;
}

#form-contact input {
  height: 35px;
}

#form-contact button {
  border-radius: 0px;
  background: #88AD6A;
}

.frm-top-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frm-top-search .form-control, .frm-top-search .btn {
  border-radius: 0px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 40px;
  border-color: #88AD6A !important;
}

.frm-top-search select {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-right: 0px;
}

.frm-top-search input {
  border-right: 0px;
}

.frm-top-search button {
  border-left: 0px;
}

.page-cdt .banner {
  padding: 100px 0px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-cdt .banner form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.page-cdt .banner form .form-control {
  height: 45px;
  width: 400px;
  border-right: 0px;
}

.page-cdt .banner form button {
  border-left: 0px;
}

.page-cdt .banner form * {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px !important;
}

.page-cdt .item-list-cdt {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.page-cdt .item-list-cdt img {
  width: 150px;
  height: 140px;
  border: 1px solid #dcdcdc;
}

.page-cdt .item-list-cdt a {
  text-decoration: none;
}

.page-cdt .item-list-cdt .content {
  padding-left: 15px;
}

.page-cdt .item-list-cdt .content h3 {
  margin: 0px;
}
/*# sourceMappingURL=app.css.map */