*{
    margin:0px;
    padding:0px;
    font-family: 'Roboto Condensed', sans-serif;
}
html {
    scroll-behavior: smooth;
}

a{
    color:#000;
    &:hover{
        color: #000;
    }
    &:active{
        color: #000;
    }
}
.font18_all *{
    font-size: 18px !important;
}
.font18{
    font-size: 18px !important;
}
.font20{
    font-size: 20px !important;
}
.font17{
    font-size: 17px !important;
}

.font16{
    font-size: 16px !important;
}

ul{
    margin:0px;
    padding:0px;
    li{
        list-style: none;
    }
}
img{
    width: 100%;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.clear{
    clear: both;
}
$primary_color:#88AD6A;

.pd0 {padding:0px;}
.pd05{padding:05px}
.pd10{padding:10px}
.pd15{padding:15px}

// header area
.main-menu{
    li{
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        padding:15px 15px;
        display: inline-flex;
        transition: all 0.2s;
        position: relative;
        a{
            text-decoration: none;
            transition: all 0.2s;
        }
        &:hover{
            background: $primary_color;
            a{
                color: #fff;
            }
            &::after{
                color: #fff;
                transform: rotate(180deg);
            }
        }
        &.dropdown{
            &::after{
                content: '\f107';
                position: relative;
                margin-left: 8px;
                transition: all 0.5s;
                font-family: 'FontAwesome';
            }
            .dropdown-list{
                display: none;
                position: absolute;
                left: 0px;
                top: 100%;
                min-width: 200%;
                width: 280%;
                background: #fff;
                z-index: 999;
                box-shadow: 0 3px 6px rgba(0,0,0,.2);
                li{
                    display: block;
                    a{
                        color: #000000;
                    }
                    &:hover{
                        a{
                            color: #fff;
                        }
                    }
                }
            }
            &:hover{
                .dropdown-list{
                    display: block;
                }
            }
        }
    }
}
.app-header{
    padding:5px 0px;
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
    &.sticky{
        position: fixed;
        width: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
        background: #fff;
        z-index: 999;
        animation: fade-down 0.3s;
        border-bottom: none;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .logo{
        img{
            width: 100%;
        }
    }
    .btnBar{
        padding:10px 12px;
        color: $primary_color;
        border:1px solid $primary_color;
        margin-top: 5px;
        border-radius: 2px;
    }
}
@keyframes fade-down{
    from{
        top:-100px;
    }
}
// header area

// footer area
.app-footer{
    color:white;
    padding:15px 0px;
    background: $primary_color;

    .title-footer{
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
    }
    ul.list-footer{
       padding-top:5px;
       li{
           padding:5px 0px;
           a{
               font-size: 13px;
               color: #F3F4F7;
           }
       }
    }
}
// footer area
.slick-slider {
    .btn_arrow{
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        box-shadow: 0 0 8px rgba(0,0,0,.25);
        font-weight: bold;
        background: $primary_color;
        cursor: pointer;
        position: absolute;
        border-radius: 50%;

        &.btn_prev{
            bottom: 45%;
            left: 25px;
            z-index: 99;
        }
        &.btn_next{
            bottom: 45%;
            right: 25px;
            z-index: 99;
        }
    }
}
#backtotop{
    position: fixed;
    bottom: 20%;
    right: 2%;
    width: 40px;
    height: 40px;
    z-index: 999;
    display: none;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
    background: $primary_color;
    transition: all 0.4s;
    animation: fadeup 0.4s;
    &::after{
        content: '\f106';
        font-family: 'FontAwesome';
        color: #fff;
        font-size: 22px;
        font-weight: bold;
    }
    &:hover{
        background: orangered;
    }
}
@keyframes fadeup{
    from{
        bottom: -100px;
    }
}
@import 'page_index';
@import 'page_khudancu';
@import 'page_project';
@import 'page_chudautu';