@media screen and (max-width: 680px) {
    img{
        margin-bottom: 5px;
    }
    .boxed{
        &.font18{
            padding: 0px;
        }
    }
    .detail-more-top{
        li{
            width: 100%;
            p{
                &.right{
                    text-align: right;
                }
            }
        }
    }
    .detail-more{
        li{
            width: 100% !important;
        }
    }
}
  
@media screen and (max-width: 800px) {
    .app-header{
        .logo{
            img{
                width: 165px;
                margin: auto;
            }
        }
        &.sticky{
            position: relative !important;
        }
    }
    .nav-menu{
        position: fixed;
        top: 0px;
        left: -100%;
        width: 65%;
        height: 100%;
        z-index: 999;
        background: #fff;

        .main-menu{
            padding: 15px;
            background: #fff;
            li{
                padding:8px 0px;
                display: block;

                &.dropdown{
                    .dropdown-list{
                        position: relative;
                        min-width: 100%;
                    }
                }
            }
        }

    }
}